In [44]:
import pandas as pd
import numpy as np
import os

## Question 1

In [3]:
pd.__version__

'2.2.2'

## Question 2

In [6]:
#download laptops.csv file
if not os.path.isfile("laptops.csv"):
    !wget https://raw.githubusercontent.com/alexeygrigorev/datasets/master/laptops.csv

In [10]:
laptops_df = pd.read_csv("laptops.csv")
laptops_df.shape[0]

2160

## Question 3

In [13]:
laptops_df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [16]:
laptops_df["Brand"].nunique()

27

## Question 4

In [17]:
laptops_df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

## Question 5

In [22]:
dell_df = laptops_df[laptops_df["Brand"] == "Dell"]
dell_df["Final Price"].max()

3936.0

## Question 6

#median value of screen
median_screen = laptops_df["Screen"].median()
mode_screen = laptops_df["Screen"].mode().values
new_median = laptops_df["Screen"].fillna(mode_screen[0]).median()


print(f"Median: {median_screen}\nMode: {mode_screen} \n New median: {new_median}")

## Question 7

In [49]:
innjoo_df = laptops_df[laptops_df["Brand"] == "Innjoo"]
innjoo_df = innjoo_df[["RAM", "Storage", "Screen"]]
X = innjoo_df.values

XTX = X.T.dot(X)

XTX_inv = np.linalg.inv(XTX)

y = [1100, 1300, 800, 900, 1000, 1100]

result = XTX_inv.dot(X.T).dot(y)

sum(result)

91.29988062995815

In [ ]:
Select all the "Innjoo" laptops from the dataset.
Select only columns RAM, Storage, Screen.
Get the underlying NumPy array. Let's call it X.
Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
Compute the inverse of XTX.
Create an array y with values [1100, 1300, 800, 900, 1000, 1100].
Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
What's the sum of all the elements of the result?